<nav class="navbar navbar-dark bg-dark">
<img src="/images/logo.jpg">

    <ul class="list-group list-group-horizontal">
        <li class="navbar-nav"><a class="nav-item nav-link px-3" href="/">Home</a></li>
        <li class="navbar-nav"><a class="nav-item nav-link px-3" href="/transactions/reports">Reports</a></li>
        <li class="navbar-nav"><a class="nav-item nav-link px-3" href="/transactions">Transactions</a></li>
        <li class="navbar-nav"><a class="nav-item nav-link px-3" href="/categories">Categories</a></li>
    </ul>
</nav>