<nav class="navbar navbar-dark bg-dark">

    <ul class="list-group list-group-horizontal d-lg-flex align-items-center">
        <img class="navbar-brand" src="/images/logo.png" width="45">
        <li class="navbar-nav h-100"><a class="nav-item nav-link px-3" href="/">Home</a></li>
        <li class="navbar-nav h-100"><a class="nav-item nav-link px-3" href="/transactions/reports">Reports</a></li>
        <li class="navbar-nav h-100"><a class="nav-item nav-link px-3" href="/transactions">Transactions</a></li>
        <li class="navbar-nav h-100"><a class="nav-item nav-link px-3" href="/categories">Categories</a></li>
        <li class="navbar-nav h-100"><a class="nav-item nav-link px-3" href="/vendors">Vendors</a></li>
    </ul>
</nav>