<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">


</head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="container mt-4">

    <form action="#"  method="get">

        <div class="form-outline w-25">
            <label for="categoryId">Category Id:</label>
            <input class="form-control" type="text" name="categoryId" id="categoryId">
        </div>

        <input class="btn btn-outline-success" type="submit" value="Search">
    </form>

    <br>

    <h1>Transactions by Category</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Transaction Id</th>
            <th>User Id</th>
            <th>Category Id</th>
            <th>Vendor Id</th>
            <th>Transaction Date</th>
            <th>Amount</th>
            <th>Notes</th>
        </tr>
        <tr th:each="transaction:${transactions}">
            <td th:text="${transaction.transactionId}"></td>
            <td th:text="${transaction.userId}"></td>
            <td th:text="${transaction.categoryId}"></td>
            <td th:text="${transaction.vendorId}"></td>
            <td th:text="${transaction.transactionDate}"></td>
            <td th:text="${transaction.amount}"></td>
            <td th:text="${transaction.notes}"></td>
        </tr>
        </thead>
    </table>

</main>
</body>
</html>